*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #E9E1EC;
}
main .info-data{
    margin-top: 10px;
    margin-left: 20px;
    /*display: grid;
    grid-template-columns: repeat(auto-fix, minmax(240px, 1fr));
    grid-gap:20px; */
    display: inline-flex;
    align-items: center;
}
main .info-data .card{
    padding: 2%;
    background: white;
    margin-left: 30px;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
main .card .head p {
    font-size: 14px;
}
.title{
    margin-left: 50px;
    margin-top: 20px;
    background: white;
    width: 18%;
    height: 7%;
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
.cardg{
    padding: 2%;
    margin-top: 5%;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    /* background: var(--light); */
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
.legenda{
    padding: 2%;
    margin-top: 5%;
    align-items: center;
    margin-left: 50px;
    width: 50%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
    /* background: var(--light); */
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
.juntar{
    display: inline-flex;
    width: 90%;
    height: 90%;
}