 body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(100deg, rgb( 149, 64, 171  ), rgb(75,0,130));
}

 .container{
    background-image: linear-gradient(300deg, rgb(120, 32, 164 ), rgb(75,0,130));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px; /*3%*/
    width:400px ;/*65%*/
    height:400px ;
    border-radius: 20px;
    color: white;
    margin-top: 6%;
    justify-content: center ;
    align-items: center;
 }
 .col-md-12{
    justify-content: center ;
    align-items: center;
    width: 100%;
}
 input{
    /*padding: 10px;*/
    border: none;
    outline: none;
}

 div.row{
  width: 100% ;
  margin-right: 0;
  margin-left: 0;
 }
 h1{
     font-size: 185%;
     margin-left: 5%;
     /*text-align: center;*/
 }

input.btn.btn-success{
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    }
input.btn:hover{
    background-color: rgb(92, 255, 230);
    color: white;
    transition: 1.2s;
    justify-content: space-between;
    }