*{
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: #E9E1EC;
}
h1{
    background-color: #883FE5;
    height: 60px;
    color: white;
    border-radius: 20px;
    margin-top: 0;

   
}

.pesquisa{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50% ;
    height:auto ;
    border-radius: 20px;
    color: white;
    /*margin-top: 6%;*/
    justify-content: center ;
    align-items: center;
    text-align: center;
}
.form{
    width: 90%;
    height: 100%;
    margin:auto;
    margin-top: 2%;
    justify-content: center ;
    text-align: center;
    align-items: center;
}

.button{
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 15px;
    width: 30%;
    height: 10%;
    margin: 10px;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(92, 255, 230);
    color: white;
    transition: 1.2s;
    justify-content: space-between;
}
label{
    font-size: 17.4px;
    
}
input{
    border-radius: 20px;
    height: 6%;
    width: 40%;
    padding-left: 5px;
    text-align: center;
}
.ball{
    height: 6%;
    width: 5%;
   
}

@media (max-width: 768px){
    .pesquisa{
    height: auto;
    width: 80%;
    margin: auto;
    position: absolute;
  }
  .form{
    height: 80%;
    width: 80%;
    margin: auto;
  }
}
.button{
    padding: 10px;
    width: 40%;
    height: 10%;
}

input{
    height: 6%;
    width: 45%;
    padding-left: 5px;
}

.escala{
    display: inline-flex;
}
.escala2{
    margin-left: 15%;
    display: inline-flex;
}

@media (max-width: 400px) {
    .pesquisa{
        height: auto;
    }

    .form{
        margin: 0%;
        height: auto;
        width: auto;
    }
    .escala2{
        margin-left: 5%;
        display: inline-flex;
    }
    .escala{
        display: inline-flex;
    }
    
    input{
        height: 6%;
        width: 60%;
        padding-left: 5px;
        text-align: center;
    }
    
    body{
        background-color: blue;
    }
}

/*escalinha*/
