*{
    font-family: Arial, Helvetica, sans-serif;

   }

  @media (min-width: 768px){
    .ladinho{
      margin-left:65% !important;
      position: relative;
    }
  }

  .texto{
    margin: 5%;
    margin-top: 8%;
    margin-right: 5%;
    padding:10px;
    display: inline-block;
    width: 30%;
    height: 50%;
    font-size: 1.7vw;
  }
  
  h2{
    font-size: 3vw;
  }

  img{
   width:100%;

  }     

  .test{
    display: inline-block;
    width: 55%;
    height: 55%;
  
  }

  .container{
      width: 1150px;
      padding: 20px;
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }

  .container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
  }

  .container .card img{
    transition: 0.5s;
    width:200px ;
    height:200px ;

  }

  .container .card h1{
    font-size: 2rem;

   }

   .container .card .content{
     padding: 20px;
     text-align: center;
   }

   .container .card .content p{
     color: #666;
   }

  .container .card:hover{
     background-color:  rgb(75,0,130);
     color: white;
     margin-top:-30px;
     box-shadow: 2px 20px 25px #dc2e685d;
     border-color:  rgb(75,0,130);
  }

  .container .card:hover img{
      filter: invert(1);
      width:55% ;
      height:55% ;
  }

  .container .card:houver .content p{
    color: white;
  }

  .balao {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


  }

  a { color: inherit; } 
  

  .midias-sociais{
    position: relative;
    width: 30px;
    height: 30px;
  } 

 /*fotter*/

  footer{
     background-color:rgb(75,0,130);
     padding: 50px 50px; 
  }

  .container-footer{
    max-width: 1400px;
    padding: 4%;
    margin: auto;
  }

  .row-footer{
     display: flex;
     flex-wrap: wrap;
  }

  .footer-col{
     width: 25%;
     padding: 15px;
  }

  .footer-col h4{
     font-size: 22px;
     color: white;
     margin-bottom: 20px;
     font-weight:500;
     position: relative;
     text-transform: uppercase;
  }

  .footer-col ul{
    list-style: none;
  }

  .footer-col ul li{
     margin: 10px 0;
  }

  .footer-col ul li p{
     font-size: 16px;
     text-transform: capitalize;
     color: white;
     text-decoration: none;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;

  }

  .footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: rgb(75,0,130);
  }

  .footer-col .form-sub textarea{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: rgb(75,0,130);
  }

  .footer-col .form-sub input::placeholder{
    color: white;
  }

  .footer-col .form-sub textarea::placeholder{
    color: white;
  }

  .footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(75,0,130);
    border-radius: 3px;
    font-weight: bold;
    background-color: white ; 
  }

  .footer-col .midias-sociais svg{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
  }


  /* footer responsivo */

  @media (max-width:800px){
     .footer-col{
         width: 50%;
         margin-bottom: 30px;
     }
  }

  @media (max-width: 600px){
    .footer-col{
      width: 100%;
    }
  }

  /*fim footer*/
